body {
  background-color: #fff;
  margin: 0;
}

header {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.hero {
  height: min(300px, 20vw);
  width: 100vw;
  background: no-repeat url("./espresso-hero.webp");
  background-position: center;
  background-size: cover;
  display: flex;
}

.paragraph {
  margin: 10px;
}
