/* 
* 1. GENERAL
* 2. HOME
* 3. MENU
* 4. ABOUT
 */

/* ----- 1. GENERAL -------- */
* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fff;
  margin: 0;
}

header {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  letter-spacing: 3px;
}

header div:hover {
  border-bottom: 3px solid rgb(237, 177, 49);
  transition: all 0.5s ease;
  cursor: pointer;
  content: "";
  height: 21px;
}

/* --------- ---- 2. HOME ---- ----------- */
/* Banner */
.hero-wrapper {
  height: min(300px, 40vw);
  width: 100vw;
  background: no-repeat url("./images/espresso-hero.webp");
  background-position: center;
  background-size: cover;
  display: flex;
}

.hero {
  background: linear-gradient(
    110deg,
    rgba(0, 0, 0, 0.686),
    rgba(0, 0, 0, 0.131)
  );
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.title-wrap {
  flex: 1;
  padding-top: 3%;
  padding-bottom: 3%;
  border-top: 1px solid rgba(245, 245, 245, 0.808);
  border-bottom: 1px solid rgba(245, 245, 245, 0.785);
  display: flex;
  justify-content: start;
  align-items: center;
}

.hero p {
  color: rgba(245, 245, 245, 0.941);
  font-weight: 600;
  font-size: 40px;
  margin-left: 10%;
  letter-spacing: 2px;
}

/*  Main Body */
.home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  transition: 0.5s;
}

.albanian-welcome {
  font-family: "Luxurious Script", cursive;
  font-size: 70px;
  color: rgb(220, 165, 47);
  margin-bottom: -15px;
  transition: 1s;
}

.english-welcome {
  margin-top: -20px;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -4px;
}

.short-border {
  margin-bottom: 40px;
  margin-top: 40px;
  width: 200px;
  height: 5px;
  background-color: rgb(237, 177, 49);
  border: none;
}

.blurb {
  font-size: 20px;
  letter-spacing: 2px;
}

.menu-btn {
  margin-top: 50px;
  border: 2px solid black;
  font-size: 22px;
  padding: 12px 30px;
  background-color: #fff;
  transition: 0.3s;
}

.menu-btn:hover {
  transition: 0.3s;
  cursor: pointer;
  scale: 0.9;
}

/* ----------- ---- 3. MENU ---- ---------- */
