body {
  background-color: #fff;
  margin: 0;
}

header {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.hero-wrapper {
  height: min(300px, 40vw);
  width: 100vw;
  background: no-repeat url("./espresso-hero.webp");
  background-position: center;
  background-size: cover;
  display: flex;
}

.hero {
  background: linear-gradient(
    110deg,
    rgba(0, 0, 0, 0.686),
    rgba(0, 0, 0, 0.131)
  );
  height: 100%;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.title-wrap {
  flex: 1;
  padding-top: 3%;
  padding-bottom: 3%;
  border-top: 1px solid rgba(245, 245, 245, 0.808);
  border-bottom: 1px solid rgba(245, 245, 245, 0.785);
  display: flex;
  justify-content: start;
  align-items: center;
}

.hero p {
  color: white;
  font-size: 40px;
  margin-left: 10%;
}

hr {
  width: 100%;
  margin: 30px 0px;
}
.paragraph {
  margin: 10px;
}
